@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.glass-counter {
  display: block;
  width: 375px;

  &__title {
    text-align: center;
    font-size: 55px;
    margin: 68px 0;
    font-weight: normal;
  }

  &__glass {
    display: block;
    margin: auto;
    margin-bottom: 48px;
  }

  &__number {
    font-weight: normal;
    font-size: 112px;
    fill: black;
  }

  &__button-bar {
    display: flex;
    max-width: 375px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__button-increment {
    height: 47px;
    min-width: 216px;
    font-size: 18px;
  }

  &__button-decrement {
    height: 23px;
    min-width: 216px;
    margin-top: 37px;
    font-size: 14px;
    
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
